/* ActivityMangageModal.css */
.modal-overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 사이드바보다 위 */
  }
  
  .modal-content {
    background-color: #fff;
    width: 400px;
    max-height: 80vh;
    border-radius: 8px;
    padding: 1rem;
    position: relative;
    overflow-y: auto;
    color: #000;
  }
  
  .close-button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .activity-manager-buttons-wrapper {
    margin-top: 4rem;
    display: block;
    position: relative;
    width: 100%;
  }

  .event-save-button { 
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background-color: #3C75D3;
    color: white;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 600;
  }

  .event-delete-button {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    background-color: #5F6367;
    color: white;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    font-family: Pretendard;
    font-size: 0.9rem;
    font-weight: 600
  }

  .event-modify-button {
    position: absolute;
    bottom: 1rem;
    right: 5rem;
    background-color: #FF5151;
    color: white;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    font-family: Pretendard;
    font-size: 0.95rem;
    font-weight: 600
  }

  .event-modify-button:active, .event-delete-button:active, .event-save-button:active {
    background-color: #D9D9D9;
  }

  .tag-select-wrapper {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .tag-select-options {
    margin-top: 0.5rem;
    margin-left: 0.4rem;
  }

  .dropdown-arrow {
    transition: transform 0.3s ease-in-out;
  }

  .dropdown-arrow.options-open {
    transform: rotate(180deg)
  }

  .options-wrapper {
    position: absolute;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  }

  .tag-option {
    border: 1px solid #CBCBCB;
    font-size: 0.8rem;
    font-weight: 600;
    color: #5F6367;
    background-color: white;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    cursor: pointer;
  }

  .tag-option:hover {
    background-color: #CBCBCB;
  }


  .inputField-wrapper {
    display: flex;
    margin-top: 1rem;
  }

  .inputField {
    border-bottom: 1px solid #EDEDED;
    width: 18rem;
    transition: border-color 0.3s ease;
    text-overflow: ellipsis;
  }

  .inputField:focus {
    outline: none;
    border-color: #5F6367;
  }

  .event-name-inputField {
    font-weight: 600;
    width: 21rem;
  }

  .time-select-wrapper {
    margin-top: 1.5rem;
    display: flex;
  }

  .datepicker {
    width: 9rem;
    outline: none;
  }

  .datepicker:focus {
    cursor: pointer;
    border-bottom: red;
  }

  .react-datepicker-popper {
    z-index: 2000 !important;
  }

  .modal-icon {
    margin-right: 1rem;
    margin-left: 1rem;
  }